<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<poptin_settings>
			<poptin>
				<poptin_user_id/>
				<poptin_client_id/>
				<poptin_etype/>
				<token/>
			</poptin>
		</poptin_settings>
	</default>
</config>
